
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  label {
    font-weight: bold;
  }

  .form-control {
    margin-bottom: 15px;
  }
  

  .form-text.text-danger {
    color: #d9534f;
  }
  

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  

  .text-center {
    text-align: center;
  }
  
  .mt-3 {
    margin-top: 20px;
  }
  